<body>

<div class="jumbo">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1> This is the Portfolio </h1>
</div>
  
<main class="grid">
  <div class"grid item">
  <img src="https://pixabay.com/get/ea32b30828f0083ed1534705fb0938c9bd22ffd41cb512449cf6c470a1/sheep-3727049_1920.jpg" alt="Sample photo">
    <h1>Sheep</h1>
    <p> This is a sheep. </p>
  </div>
  <div class"grid item">
  <img src="https://pixabay.com/get/ec34b40a28fd1c22d9584518a33219c8b66ae3d01db2144893f6c77a/leopard-515509_1920.jpg" alt="Sample photo">
     <h1>Kitter</h1>
     <p> This is a big old kitter. </p>
  </div>
  <div class"grid item">
  <img src="https://pixabay.com/get/ef3cb10a2ef21c22d9584518a33219c8b66ae3d01db2144092f4c571/pug-690566_1920.jpg" alt="Sample photo">
    <h1>Doggo</h1>
    <p> This is a smol doggo. </p>
  </div>
  <div class"grid item">
  <img src="https://pixabay.com/get/eb37b80a2cf7073ed1534705fb0938c9bd22ffd41cb5124494f7c57ea2/spring-bird-2295436_1920.jpg" alt="Sample photo">
    <h1>Birdo</h1>
    <p> This is a pretty bird </p>
  </div>
 
</main>

</body>

  




  
  
          